{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="position-fixed" style="top: 35%; right: 9%; transform: translateY(-50%); width: 500px;">
    <div id="crypto-prices" class="card mb-4">
      <div class="card-header">
        <h5>Popular</h5>
      </div>
      <div class="card-body">
        <ul id="coin-list" class="list-group">
          <!-- Nội dung coin -->
        </ul>
      </div>
    </div>

    <!-- Thêm phần hiển thị tin tức -->
    <div id="news-section" class="card">
      <div class="card-header">
        <h5>Tin tức</h5>
      </div>
      <div class="card-body">
        <ul class="list-group">
          {% for news in news_list %}
          <li class="list-group-item">
            <a href="#">{{ news.title }}</a>
          <p>
            <a href="{% url 'news_detail' news.id %}" class="text-decoration-none">
              {{ news.summary }}
            </a>
          </p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
