{% extends 'base.html' %}
{% load static %}
{% block mine %}
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <form method="POST" action="{% url 'mining' %}" class="row g-3" style="margin-top: 20px; margin-left: 30px">
            {% csrf_token %}
            <div class="col-md-7">
                <label for="inputHeader" class="form-label">Header</label>
                <input name="header" type="text" class="form-control" id="inputHeader" placeholder="Dự đoán số Nonce">
            </div>
            <div class="col-md-7">
                <label for="inputEmail4" class="form-label">Sender</label>
                <input name="from_send" type="text" class="form-control" id="inputEmail4" placeholder="Người gửi">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Mine</button>
            </div>
        </form>
    </div>
</div>
{% endblock mine %}
